modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 23893
externalPort = 3000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_dmFsdWVkLW1hc3RvZG9uLTY0LmNsZXJrLmFjY291bnRzLmRldiQ"
BAKER_EMAIL = "christian@allesvanafrika.co.za"
PICKUP_ADDRESS = "15 Norman Road, Hout Bay"

[userenv.development]
TWILIO_SANDBOX_NUMBER = "+14155238886"
YOCO_SECRET_KEY_DEV = "sk_test_faa65db63meWQQ1589144999d62f"
YOCO_WEBHOOK_SECRET_DEV = "whsec_RjM1NzNBNzc3ODA5NDQ0OTBGRjE0MzdBRTQ0NzBEMjQ="

[nix]
channel = "stable-25_05"
